@using Shopify.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TNhanVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 

@{
    ViewData["Title"] = "DanhSachNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DanhMucSanPham</title>
</head>
<body>
<p>
    <a asp-action="ThemNguoiDungMoi">Create New</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã số
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Tên nhân viên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Chức vụ 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                <a asp-action="SuaNguoiDung" asp-route-MaNhanVien="@item.MaNhanVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhanVien">Details</a> |
                <form asp-action="XoaNguoiDung" asp-route-id="@item.MaNhanVien" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa người dùng này?');">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
<div class="product__pagination">
    @Html.PagedListPager(Model, page=>Url.Action("DanhMucSanPham", new{page=page}))
</div>
